#img-hotspot {
  margin-bottom: 30px;
}

#div-scarlet-hotspot-form {
  margin-bottom: 30px;
}

#div-scarlet-hotspot-form > fieldset {
  border: 1px dashed #7f7f7f;
  padding: 30px;
}

#div-scarlet-hotspot-form > fieldset > legend {
  font-size: 24px;
  margin-bottom: 15px;
  padding: 0 5px;
}

#div-scarlet-hotspot-form > fieldset textarea {
  padding: 10px;
  outline: none;
}
#div-scarlet-hotspot-form input[type=number] {
  outline: none;
  border: 1px solid #ddd;
}

.submit-row > .button--primary {
  margin-right: 15px;
}

.btnDelete {
  background-color: #ed6347;
  margin: 15px 0;
  color: white;
}
