{% extends base %}
{% load cms %}
{% block main_content %}
    <form action="{{ action_url }}" method="post">
        {% csrf_token %}

    {% bundle_url bundle "main_list" as cancel_url %}
    {% if not errors %}
    <p>{{ conf_msg }} <br>
        {% for obj in queryset %}
            {{ obj }}<br>
            {% endfor %}
        Are you sure?</p>
    <p><a class="button" href="{{ cancel_url }} ">Cancel</a>
    <input type="submit" name='modify' value="Yes" /></p>
    {% else %}

    <p>{{ error_msg }}</p>

    {% for e in errors %}
    <p>{{ e }}</p>
    {% endfor %}
    <p><a class="button" href="{{ cancel_url }} ">OK</a></p>
    {% endif %}
    </form>
{% endblock %}
