{{ form.non_field_errors }}

{% if formset.can_delete %}
	<div class="widget-formset-delete">
		<b>X</b>
		{{ form.DELETE }}
	</div>
{% endif %}
{% for field in form %}
	{% if field.name != 'DELETE' %}
		{% if field.field.is_order_field %}
			<div class="widget-formset-order">
				{{ field }}
			</div>
        	{{ field.errors }}
		{% else %}
			{% if not field.is_hidden %}
                <p class="{% if field.is_date %}date{% endif %} {% if field.is_checkbox %}checkbox{% endif %} {% if field.errors %}error-field{% endif %}">
				{{ field.label_tag }}
				{% if field.field.help_text %}
					<em class="help">{{ field.field.help_text|safe }}</em>
				{% endif %}
			{% endif %}
			{{ field }}</p>
        	{{ field.errors }}
		{% endif %}
	{% endif %}
{% endfor %}
