{% extends base %}
{% load cms %}
{% block main_content %}
    <form action="{{ action_url }}" method="post">
        {% csrf_token %}

        {% if versions %}
            {% for v in versions %}
            <p class="checkbox">
                <input type="radio" name="version" id="version_{{ v.vid }}" value="{{ v.vid }}" />
                <label for="version_{{ v.vid }}">{{ v.status_line }}</label>
            </p>
            {% endfor %}

            <p><a class="button" href="{{ done_url }} ">Cancel</a>
               <input type="submit" name="revert" value="Revert" />
               <input type="submit" name="delete" value="Delete" /></p>
        {% else %}
            <p>There are no other versions of this item yet.</p>
        {% endif %}
    </form>
{% endblock %}
