{% extends base %} {% load cms %} {% block messages %} {% if message %}
<ul class="messagelist">
  <li class="{{ message_class }}">{{ message }}</li>
</ul>
{% endif %} {% endblock messages %} {% block main_content %}

<form data-form-id="edit" action="{{ url }}" method="post">
  {% csrf_token %}

  <p>
    <div id="img-hotspot">
      <img src="{{ hotspot_module.image.url }}" id="img-hotspot-asset" />
    </div>
  </p>

  <div id="div-scarlet-hotspot-form"></div>

  <p class="submit-row">
    <a class="button close-popup" href="{{ cancel_url }}">Cancel</a>
    <input class="big" type="submit" value="Save" />
  </p>
  <input type="hidden" name="module-id" value="{{ hotspot_module.id }}" />
  <input type="hidden" name="overlay-size" id= "overlay-size" value="" />
</form>

{% endblock %}

{% block additional_js %}
<link rel="stylesheet" href="{{ STATIC_URL }}hotspots/css/jquery.hotspot.css" />


<script src="{{ STATIC_URL }}js/main.js"></script>


{% endblock %}
