<fieldset id="frm-spot-{{ x }}-{{ y }}">
	<legend id="legend-spot-{{ x }}-{{ y }}">Hotspot</legend>

	<input type="hidden" name="x-coord" value="{{ x }}" id="x-spot-{{ x }}-{{ y }}" />
	<input type="hidden" name="y-coord" value="{{ y }}" id="y-spot-{{ x }}-{{ y }}" />

	<div class="field-row {% if form.order.errors %}error-field{% endif %}">
		<label class="{% if form.order.field.required %}required{% endif%}">{{ form.order.label }}</label> {% if form.order.help_text %}<em class="help">{{ form.order.help_text|safe }}</em>{% endif %} {{ form.order }}
	</div>
	{{ form.order.errors }}

	<div class="field-row {% if form.icon.errors %}error-field{% endif %}">
		<label class="{% if form.icon.field.required %}required{% endif%}">{{ form.icon.label }}</label> {% if form.icon.help_text %}<em class="help">{{ form.icon.help_text|safe }}</em>{% endif %}
	</div>

  <div class="field-row">
  	<div class="asset" data-api="/admin/assets/?type=choices&amp;ftype=unknown&amp;exclude=ftype" data-title="{{ form.instance.icon.user_filename }}" data-tags="{{ asset_tags }}">
  		<div class="asset__preview" style="background-image:url({{ form.instance.icon.file.admin_url }})" data-src="{{ form.instance.icon.file.admin_url }}"></div>
  		<div class="asset__actions">
  			<div class="asset__select">
  				<input type="hidden" name="icon" value="{{ form.instance.icon.id }}" id="icon-{{ x }}-{{ y }}" style="display: none;">
  				<div class="asset__buttons">

  					<a class="button button--primary" target="_blank" href="/admin/assets/add/?popup=1&amp;type=image">Upload New <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <a class="button button--secondary asset__edit-link" data-base="{{ base_api_link }}" href="#">Edit Crop</a>

  				</div>
  			</div>
  		</div>
  	</div>
  </div>

	<div class="field-row {% if form.label.errors %}error-field{% endif %}">
		<label class="{% if form.label.field.required %}required{% endif%}">{{ form.label.label }}</label> {% if form.label.help_text %}<em class="help">{{ form.label.help_text|safe }}</em>{% endif %} {{ form.label }}
	</div>
	{{ form.label.errors }}

	<div class="field-row {% if form.text.errors %}error-field{% endif %}">
		<label class="{% if form.text.field.required %}required{% endif%}">{{ form.text.label }}</label> {% if form.text.help_text %}<em class="help">{{ form.text.help_text|safe }}</em>{% endif %} {{ form.text }}
	</div>
	{{ form.text.errors }}

	<div class="field-row {% if form.image.errors %}error-field{% endif %}">
		<label class="{% if form.image.field.required %}required{% endif%}">{{ form.image.label }}</label> {% if form.image.help_text %}<em class="help">{{ form.image.help_text|safe }}</em>{% endif %}
	</div>

  <div class="field-row">
  	<div class="asset" data-api="/admin/assets/?type=choices&amp;ftype=image&amp;exclude=ftype" data-title="{{ form.instance.image.user_filename }}" data-tags="{{ asset_tags }}">
  		<div class="asset__preview" style="background-image:url({{ form.instance.image.file.admin_url }})" data-src="{{ form.instance.image.file.admin_url }}"></div>
      <div class="asset__actions">
        <div class="asset__select">
          <input type="hidden" name="image" value="{{ form.instance.image.id }}" id="image-{{ x }}-{{ y }}" style="display: none;">
          <div class="asset__buttons">
            <a class="button button--primary" target="_blank" href="/admin/assets/add/?popup=1&amp;type=image">Upload New <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <a class="button button--secondary asset__edit-link" data-base="{{ base_api_link }}" href="#">Edit Crop</a>
          </div>
        </div>
      </div>
  	</div>
  </div>

	<div class="field-row{% if form.video_json.errors %}error-field{% endif %}">
		<label class="{% if form.video_json.field.required %}required{% endif%}">{{ form.video_json.label }}</label> {% if form.video_json.help_text %}<em class="help">{{ form.video_json.help_text|safe }}</em>{% endif %} {{ form.video_json }}
	</div>
	{{ form.video_json.errors }}

	<div class="p-delete"><a class="button button--primary btnDelete" data="spot-{{ x }}-{{ y }}">Delete hotspot</a></div>
</fieldset>
