button,
.button {
	display: inline-block;
	cursor: pointer;
	// min-width: $button-width;
	padding: 0 20px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	transition: background-color 200ms;
	border-radius: 3px;

	&:hover {
		transform: translateY(-1px);
	}

	.fa {
		margin-right: 4px;
	}

	&--primary {
		color: $white;
		background-color: #0084ff;
		background: linear-gradient(to top, hsl(210, 100%, 50%), hsl(200, 100%, 50%));
		padding: 0 15px;

		&.active,
		&:hover {
			color: $white;
			background-color: $blue-dark;
			background: linear-gradient(to top, hsl(214, 100%, 50%), hsl(200, 100%, 50%));
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
		}
	}

	&--secondary {
		color: #333;
		// background-color: $gray;
		// background: linear-gradient(to top, hsl(0, 0%, 70%), hsl(0, 0%, 82%));
		border: 1px solid #b8b8b8;

		&.active,
		&:hover {
			// color: $white;
			// background-color: $gray-dark;
			// background: linear-gradient(to top, hsl(0, 0%, 60%), hsl(0, 0%, 72%));
		}
	}

	&--disabled {
		color: $white;
		cursor: default;
		background-color: $gray-light;
		pointer-events: none;

		&:hover {
			color: $white;
			background-color: $gray-light;
		}
	}

	&:focus {
		outline: none;
	}
}

.button-group {
	// @include microfix;

	display: flex;
	flex-flow: row wrap;

	.button:not(:last-child) {
		margin-right: 10px;
	}

	.divider {
		float: left;

		&:not(:last-child) {
			@include divider($size: 38px, $space: 20px, $color: $gray);
			margin-bottom: 20px;
		}
	}

	&--actions {
		padding-bottom: 20px;
		border-bottom: $gray-light 1px solid;
		margin-bottom: 30px;
	}

	&--submit {
		padding-top: 40px;
		border-top: $gray-light 1px solid;
		margin-top: 50px;
		text-align: right;
	}
}
