input[type='text'],
input[type='file'],
input[type='password'],
textarea {
	background-color: $bg-primary;
	display: block;
	width: 100%;

	td & {
		display: inline-block;
		width: auto;
	}
}

input[type='text'],
input[type='file'],
input[type='password'],
input[type='number'] {
	line-height: 38px;
	text-indent: 10px;
	margin-top: 10px;
	border: 1px solid $bg-primary;
	border-radius: 3px;
	transition: box-shadow 250ms ease-out;
	outline: none;
	color: $black;
}

input[type='text']:focus,
input[type='file']:focus,
input[type='password']:focus,
input[type='number']:focus {
	box-shadow: 0 0 4px hsl(210, 9%, 82%);
	border: 1px solid hsl(210, 9%, 82%);
}

input[type='text']::selection,
input[type='file']::selection,
input[type='password']::selection,
input[type='number']::selection {
	background: $gray-lightish;
}

input[type='file'] {
	padding: 12px;
	line-height: 1;
	text-indent: 0;
}

input[type='radio'] {
	// display: none;

	& + label {
		position: relative;
		padding-left: 30px;
		color: $black;
		font-weight: 200;
		font-size: 16px;
		margin-top: 3px;
	}

	& + label:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		border-radius: 50%;
		border: 2px solid $black;
		width: 14px;
		height: 14px;
		margin-right: 30px;
	}

	&:checked + label:after {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 18px;
		height: 18px;
		background-color: #0084ff;
		border-radius: 50%;
		margin-right: 30px;
	}
}

input[type='number'] {
	border: 1px solid $gray-lightish;
}

textarea {
	padding: 10px;
}

legend {
	@include heading-large;
}

label {
	color: $gray;
	font-size: 13px;
	font-weight: 400;
	display: block;
	line-height: 0.5;
	text-transform: uppercase;
	letter-spacing: 1px;

	&.required {
		position: relative;
		padding-left: 11px;

		&:before {
			content: '*';
			position: absolute;
			left: 0;
			top: 0;
			font-weight: bold;
		}
	}
}

label::selection {
	background: $gray-lightish;
}

fieldset {
	&:not(:last-of-type),
	& > div:not(:last-of-type) {
		margin-bottom: 40px;
	}
}

.field-row {
	margin-bottom: 25px;

	em {
		margin-bottom: 10px;
		display: inline-block;
	}
}

.field-row.checkbox {
	width: auto;
	position: relative;
	float: left;
}

.field-row.checkbox:not(:last-of-type) {
	margin-right: 30px;
}

.object-name {
	font-weight: bold;
}

// cannot find markup to update classname
.errorlist {
	margin: -15px 0 25px;
	padding: 0;

	li {
		color: $red;
	}
}

.messagelist {
	@include heading-medium;
	color: #0084ff;
	margin-bottom: 20px;
}

td input.orderfield {
	display: none;
}

.datetime {
	width: 260px;
}
