input[type='text'],
input[type='file'],
input[type='password'],
input[type='url'],
textarea {
	display: block;
	width: 100%;

	td & {
		display: inline-block;
		width: auto;
	}
}

input[type='text'],
input[type='file'],
input[type='password'],
input[type='number'],
input[type='url'],
textarea {
	line-height: 1.5;
	border: 1px solid $gray-lightish;
	border-radius: 3px;
	transition: box-shadow 250ms ease-out;
	outline: none;
	color: $black;
	padding: 7px 10px;
}

textarea {
	padding: 15px;
}

input[type='text']:focus,
input[type='file']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='url']:focus,
textarea:focus {
	box-shadow: 0 0 4px hsl(200, 100%, 50%);
	border: 1px solid hsl(200, 100%, 50%);
}

input[type='text']::selection,
input[type='file']::selection,
input[type='password']::selection,
input[type='number']::selection,
input[type='url']::selection {
	background: $gray-lightish;
}

input[type='file'] {
	line-height: 1;
	text-indent: 0;
}

input[type='radio'] {
	// display: none;

	& + label {
		position: relative;
		padding-left: 30px;
		color: $black;
		font-weight: 200;
		font-size: 16px;
		margin-top: 3px;
	}

	& + label:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		border-radius: 50%;
		border: 2px solid $black;
		width: 14px;
		height: 14px;
		margin-right: 30px;
	}

	&:checked + label:after {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		width: 18px;
		height: 18px;
		background-color: #0084ff;
		border-radius: 50%;
		margin-right: 30px;
	}
}

input[type='number'] {
	border: 1px solid $gray-lightish;
}

legend {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: hsl(0, 0%, 25%);
	font-size: 16px;
	line-height: 1.4;
	text-transform: uppercase;
}

label {
	color: $gray;
	font-size: 14px;
	font-weight: 400;
	display: block;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 1px;

	&.required {
		position: relative;
		padding-left: 11px;

		&:before {
			content: '*';
			position: absolute;
			left: 0;
			top: 0;
			font-weight: bold;
		}
	}
}

label::selection {
	background: $gray-lightish;
}

fieldset {
	display: flex;
	border-bottom: 1px solid hsl(210, 9%, 96%);

	&:first-of-type {
		border-top: 1px solid hsl(210, 9%, 96%);
	}

	&:last-of-type {
		border: none;
	}

	// &:not(:last-of-type),
	// & > div:not(:last-of-type) {
	// 	margin-bottom: 40px;
	// }
}

.fieldset__container {
	display: flex;
	padding: 30px 0px;
}

.fieldset__legend {
	width: 20%;
	padding-top: 5px;
}

.fieldset__body {
	width: 80%;
}

.field-row {
	margin-bottom: 30px;

	em {
		margin-bottom: 10px;
		display: inline-block;
	}
}

// .field-row.checkbox {
// 	width: auto;
// 	position: relative;
// 	float: left;
// }

.field-row.checkbox:not(:last-of-type) {
	margin-right: 30px;
}

.object-name {
	font-weight: bold;
}

// cannot find markup to update classname
.errorlist {
	margin: -15px 0 25px;
	padding: 0;

	li {
		color: $red;
	}
}

.messagelist {
	@include heading-medium;
	color: #0084ff;
	margin-bottom: 20px;
}

td input.orderfield {
	display: none;
}

.datetime {
	width: 260px;
}
