.nav-sidebar {
	float: left;
	width: 20%;
}

.nav-sidebar + .content {
	float: right;
	width: 79%;
	padding-left: 20px;

	&:before {
		content: '';
		width: 1px;
		background-color: $gray-light;
		position: absolute;
		height: 100%;
		top: -50px;

		// negate margin-left instead of left so bar stays next to content
		margin-left: -30px;
	}
}

.nav-sidebar__link {
	color: $black;
	display: block;
	padding: 15px;
	text-transform: uppercase;
	transition: all 100ms ease-in;

	// TODO: add class to active page (backend)
	&:active {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
		transition: all 100ms ease-out;
	}

	&:hover {
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
		transform: translateY(-1px);
		transition: all 100ms ease-out;
	}
}
