table {
	border-bottom: 1px solid $bg-primary;
	background-color: #fff;
	width: 100%;

	th,
	td {
		padding: 12px 10px;
		color: $black;

		&:first-of-type:not(:only-child) {
			padding-left: $padding-width;
		}

		&:last-of-type:not(:only-child) {
			padding-right: $padding-width;
		}
	}

	td[data-edit-url] {
		cursor: pointer;
	}

	caption {
		background-color: #fff;
		text-align: left;
		text-transform: capitalize;
		font-size: 32px;
	}

	thead {
		border-bottom: 1px solid $bg-primary;
	}

	th {
		text-transform: uppercase;
		text-align: left;
		color: hsl(210, 9%, 56%);
		a {
			color: hsl(210, 9%, 56%);
		}

		&.sortable {
			.fa {
				margin-left: 10px;
			}
		}
	}

	tr {
	}

	tbody {
		tr {
			&:hover {
				background-color: $bg-primary;
			}
		}
	}

	&.is-empty {
		&,
		thead {
			border: none;
		}
	}
}

.link-cell {
	img {
		border-radius: 3px;
	}
}
