@mixin linear-gradient($color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction(linear), $color-stops);
  background: linear-gradient(linear, $color-stops);
}