{% load i18n %}

<div class="widget-asset" data-api="{{ link|safe }}" data-title="{{ object.user_filename }}" data-tags="{{ asset_tags }}">
	<div class="widget-asset-preview" style="background-image:url({{ object.file.admin_url }})"></div>
	<div class="widget-asset-actions">
		{{ hidden_input }}
		{% if add_link %}
		<a class="button" target="_blank" href="{{ add_link }}">Upload New</a>
		{% endif %}

        {% if sizes %}
            <ul class="crops-list" data-base-link="{{ base_api_link }}" >
            {% for each in sizes %}
                <li data-crop-link="{{ each.post_link }}"><a href="#" class="crop-link">{{ each.name }} ({{ each.width }}x{{ each.height }})</a></li>
            {% endfor %}
            </ul>
        {% endif %}
	</div>
</div>
