{% extends "cms/edit.html" %}
{% load cms %}

{% block formsets %}
{% if crops %}
	<div class="crop-info">
		<h2>Crops</h2>
		<ul class="crop-nav">
			{% for crop in crops %}
				<li class="row">
					<div class="col">{{ crop.name }}</div>
					<div class="col">{{ crop.width }}x{{ crop.height }} (px)</div>
					<div class="col">
						<a class="button open-popup" href="../crops/{{ crop.name }}/edit/"><i>Edit</i></a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
{% endblock formsets %}
