{% extends "cms/edit.html" %}
{% load cms %}

{% block formsets %}
{% if crops %}
	<div class="crop-info">
		<h2>Crops</h2>
    <h2>{{page_obj.id}}</h2>
    <p>Select a crop from the drop down to begin editing.</p>
    <div class="crop-info__main">
      <aside class="crop-info__nav">
    		<ul class="crop-info__list">
    			{% for crop in crops %}
    				<li class="row" data-width={{crop.width}} data-height={{crop.height}} data-x={{crop.x}} data-y={{crop.y}}  data-x2={{crop.x2}} data-y2={{crop.y2}} data-name={{ crop.name }}>
    					<div class="crop-info__name">{{ crop.name }}</div>
    					<div class="crop-info__dimensions">{{ crop.width }}x{{ crop.height }} (px)</div>
    					<!-- <div class="col">
    						<a class="button open-popup" href="../crops/{{ crop.name }}/edit/"><i>Edit</i></a>
    					</div> -->
    				</li>
    			{% endfor %}
    		</ul>
      </aside>
      <section class="crop-info__cropper"></section>
	</div>
{% endif %}
{% endblock formsets %}
