/*
File: style.scss
Outputs: style.css

Project: RED

Description:
	Global styles

Requires:
	- Sass <http://sass-lang.com/>
	- Compass <http://compass-style.org/>

Requires:
	- <caboose/_caboose.scss>
	- <_site-settings.scss>

*/
/* line 1, ../compass/scss/caboose/caboose/_reset.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../compass/scss/caboose/caboose/_reset.scss */
article, aside, details, summary, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../compass/scss/caboose/caboose/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../compass/scss/caboose/caboose/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../compass/scss/caboose/caboose/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../compass/scss/caboose/caboose/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../compass/scss/caboose/caboose/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 23, ../compass/scss/caboose/caboose/_exports.scss */
#caboose {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url("../fonts/AveniLTBla.eot");
  src: url("../fonts/AveniLTBla.eot?#iefix") format("embedded-opentype"), url("../fonts/AveniLTBla.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBook';
  src: url("../fonts/AveniLTBoo.eot");
  src: url("../fonts/AveniLTBoo.eot?#iefix") format("embedded-opentype"), url("../fonts/AveniLTBoo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLight';
  src: url("../fonts/AveniLTLig.eot");
  src: url("../fonts/AveniLTLig.eot?#iefix") format("embedded-opentype"), url("../fonts/AveniLTLig.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url("../fonts/AveniLTMed.eot");
  src: url("../fonts/AveniLTMed.eot?#iefix") format("embedded-opentype"), url("../fonts/AveniLTMed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirRoman';
  src: url("../fonts/AveniLTRom.eot");
  src: url("../fonts/AveniLTRom.eot?#iefix") format("embedded-opentype"), url("../fonts/AveniLTRom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../compass/scss/admin/views/_wysiwyg.scss */
body {
  font: 18px/1 AvenirRoman;
  color: #314b5d;
}

/* line 6, ../compass/scss/admin/views/_wysiwyg.scss */
h1 {
  font-size: 48px;
}

/* line 10, ../compass/scss/admin/views/_wysiwyg.scss */
h2 {
  font-size: 39px;
}

/* line 14, ../compass/scss/admin/views/_wysiwyg.scss */
h3 {
  font-size: 31px;
}

/* line 18, ../compass/scss/admin/views/_wysiwyg.scss */
h4 {
  font-size: 25px;
}

/* line 22, ../compass/scss/admin/views/_wysiwyg.scss */
h1, h2, h3, h4 {
  line-height: 1.2em;
  margin-bottom: 1.1em;
}

/* line 27, ../compass/scss/admin/views/_wysiwyg.scss */
p, li {
  line-height: 1.4em;
  margin-bottom: 1.4em;
}

/* line 32, ../compass/scss/admin/views/_wysiwyg.scss */
ul {
  padding-left: 40px;
  list-style: disc;
}
/* line 36, ../compass/scss/admin/views/_wysiwyg.scss */
ul ul {
  list-style: circle;
}

/* line 41, ../compass/scss/admin/views/_wysiwyg.scss */
ol {
  padding-left: 40px;
  list-style: decimal;
}
/* line 45, ../compass/scss/admin/views/_wysiwyg.scss */
ol ol {
  list-style: lower-alpha;
}

/* line 51, ../compass/scss/admin/views/_wysiwyg.scss */
ol ol, ol ul, ul ol, ul ul {
  padding-bottom: 0;
}

/* line 56, ../compass/scss/admin/views/_wysiwyg.scss */
b, strong {
  font-family: AvenirBlack;
}

/* line 60, ../compass/scss/admin/views/_wysiwyg.scss */
i, em {
  font-style: italic;
}

/* line 65, ../compass/scss/admin/views/_wysiwyg.scss */
a,
a:visited {
  color: #8197a3;
}

/* line 70, ../compass/scss/admin/views/_wysiwyg.scss */
.wysiwyg-text-annotated,
a.wysiwyg-text-annotated {
  background: #B6CAD1;
  color: #fff;
  text-decoration: none;
  padding: 1px 3px;
}
/* line 76, ../compass/scss/admin/views/_wysiwyg.scss */
.wysiwyg-text-annotated:after,
a.wysiwyg-text-annotated:after {
  content: ' *';
  font-weight: normal;
}
