// Primary
$white: #ffffff;
$charcoal: #131313;
$black: #131313;
$ocean-blue: #00a3c9;
$bio-teal: #00ffce;

// Secondary
$sky-blue: #cef4f2;
$light-flora: #cedecd;
$aero-teal: #8ebcb3;
$moon-gray: #8c929a;
$space-gray: #5f6164;

// Accent
$light-cyan: #6ef2f9;
$bio-lime: #ceff00;
$forest-green: #044442;
$flora-purple: #303495;
$dusk-purple: #0c133c;
$body-copy-link: #1aa3c7;
$player-black: #212121;

// External
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$instagram-pink: #b6368b;

$clear: transparent;

$quiz-header: #6fdbe8;
$red: #ff0000;
