$padding-width: 70px;

body {
  background-color: $bg-primary;
}

a {
  text-decoration: none;
  color: $gray;

  &:hover {
    color: $red;
  }
}

.main {
  @include microfix;
  @include box-shadow;
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  max-width: $max-width;
  min-height: 250px;
  z-index: $z-low;
}

.width-wrapper {
  @include microfix;
  @include width-wrapper;
}


svg {
  width: 100%;

  .bar {
    fill: $red;
  }

  .type {
    fill: #000;
  }
}

