$padding-width: 70px;

body {
  background-color: $bg-primary;
}

a {
  text-decoration: none;
}

table {
  background-color: #fff;
  border-bottom: 1px solid $bg-primary;
  width: 100%;

  th,
  td {
    padding: 10px;

    &:first-of-type:not(:only-child) {
      padding-left: $padding-width;
    }

    &:last-of-type:not(:only-child) {
      padding-right: $padding-width;
    }
  }

  caption {
    background-color: #fff;
    text-align: left;
    text-transform: capitalize;
    font-size: 32px;
    padding-left: ($padding-width - ($padding-width/2));
  }

  thead {
    border-bottom: 1px solid $bg-primary;
  }

  th {
    text-transform: uppercase;
    text-align: left;
  }

  tr {

  }

  td {

  }

  tbody {

    tr {

      &:hover {
        background-color: $bg-primary;
      }
    }
  }
}

.main {
  @include microfix;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  max-width: $max-width;
  z-index: $z-low;
}

.width-wrapper {
  @include microfix;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}
