button,
.button {
  display: inline-block;
  cursor: pointer;
  min-width: $button-width;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  transition: background-color 200ms;

  .fa {
    margin-right: 4px;
  }

  &--primary {
    color: $white;
    background-color: $blue;

    &.active,
    &:hover {
      color: $white;
      background-color: $blue-dark;
    }
  }

  &--secondary {
    color: $white;
    background-color: $gray;

    &.active,
    &:hover {
      color: $white;
      background-color: $gray-dark;
    }
  }

  &--disabled {
    color: $white;
    cursor: default;
    background-color: $gray-light;

    &:hover {
      color: $white;
      background-color: $gray-light;
    }
  }

  &:focus {
    outline: none;
  }
}

.button-group {
  @include microfix;

  .button:not(:last-child) {
    margin-right: 10px;
  }

  .divider {
    float: left;

    &:not(:last-child) {
      @include divider($size: 38px, $space: 20px, $color: $gray);
    }
  }

  &--actions {
    padding-bottom: 20px;
    border-bottom: $gray-light 1px solid;
    margin-bottom: 30px;
  }

  &--submit {
    padding-top: 40px;
    border-top: $gray-light 1px solid;
    margin-top: 50px;
    text-align: right;
  }
}
