.dashboard {}

.dashboard-history {

  caption {
    margin-bottom: 30px;
  }
}

.dashboard-history__filter {
  @include microfix;
  position: absolute;
  right: 20px;
  top: 20px;

  label,
  .button {
    display: none;
  }
}
