.header-main {
  border-bottom: 1px solid $white;
  padding: 45px 0;
  margin-bottom: 45px;
}

.header-main__logo {
  background: url('../images/logo-scarlet.png') no-repeat;
  text-indent: -9999px;
  width: 190px;
  height: 40px;
  float: left;

  a {
    cursor: pointer;
    display: block;
    height: 100%;
  }
}

.account-nav {
  float: right;

  a {
    color: #000;
    margin: 0 10px 0 0;

    &:after {
      content: '|';
      display: inline-block;
      margin: 0 0 0 10px;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}

.user-nav {
  display: flex;
  flex-direction: row;
}
