.nav-main {

}

.nav-main__list {
  display: flex;
  margin: auto;
  max-width: $max-width;
  justify-content: space-around;
  flex-direction: row;
}

.nav-main__item {
  display: inline-block;
  flex-grow: 1;
  position: relative;
}

.nav-main__sublist {
  padding-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;

  // transition out effect
  transition: top 200ms, opacity 200ms;

  .nav-main__item:hover & {
    top: 100%;
    opacity: 1;

    // transition in effect
    transition: top 200ms, opacity 200ms 50ms;
  }
}

.nav-main__sublist-item {
  background-color: $white;
  padding: 10px;
  text-align: center;
}

.nav-main__item-title {
  background-color: $white;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
