table {
  background-color: #fff;
  border-bottom: 1px solid $bg-primary;
  width: 100%;

  th,
  td {
    padding: 10px;

    &:first-of-type:not(:only-child) {
      padding-left: $padding-width;
    }

    &:last-of-type:not(:only-child) {
      padding-right: $padding-width;
    }
  }

  caption {
    background-color: #fff;
    text-align: left;
    text-transform: capitalize;
    font-size: 32px;
    padding-left: ($padding-width - ($padding-width/2));
  }

  thead {
    border-bottom: 1px solid $bg-primary;
  }

  th {
    text-transform: uppercase;
    text-align: left;

    a {
      color: $black;
    }

    &.sortable {

      .fa {
        margin-left: 10px;
      }
    }
  }

  tr {


  }

  td {

    &.draggable {
      position: relative;

      &:before {
        cursor: move;
        content: "";
        background-color: $gray-light;
        display: block;
        width: 13px;
        height: calc(100% + 2px);
        position: absolute;
        top: -1px;
        left: -12px;
      }

      &:after {
        cursor: move;
        text-shadow: $black 0px 1px 1px;
        content: "┋";
        color: $gray-light;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: -18px;
        transform: translateY(-50%);
      }
    }
  }

  tbody {

    tr {

      &:hover {
        background-color: $bg-primary;
      }
    }
  }
}
