.formset__form {
  padding-top: 40px;
  margin-bottom: 40px;
  opacity: 1;
  transition: opacity 200ms, transform 300ms, position 300ms 350ms;
}

.formset__form--is-deleted {
  opacity: 0;
  transform: translateY(-100px);
  position: absolute;
}

.formset__field {
  margin-bottom: 25px;
}

.formset__order {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.formset__button--delete {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  .fa {
    font-size: 26px;
  }

  input {
    display: none;
  }
}

// cannot find markup to update classname
.errorlist {
  margin: -15px 0 25px;
  padding: 0;

  li {
    color: $red;
  }
}

.formset__field--has-add-button {
  @include flex-container;

  label {
    width: 100%;
    order: 0;
  }

  .selectize-control {
    flex-grow: 1;
    margin-right: 10px;
  }

  .button {
    flex-grow: 0;
    text-transform: capitalize;
  }
}
