@import '../vendor/jcrop';

.image-cropper {

  h3 {

    strong {
      text-transform: none;
    }
  }
}

.image-cropper__original,
.image-cropper__mask {
  @include box-shadow;
}

.image-cropper__original {
  margin: auto;
  text-align: center;

  > div {
    display: inline-block;
  }
}

.image-cropper__preview {
  margin: 50px 0 0;
  padding: 0;
}

.image-cropper__mask {
  @include box-shadow;
  width: 400px;
  height: 250px;
  overflow: hidden;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.image-cropper__settings {
  @include hide-block;
}

