@import './../helpers/selectizeMaterial'

input.resizable-input{
  border: none!important;
}

.pill__wrapper {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #c9e6f2;
	background: #f2f9fc;
	color: #08c;
	margin-right: 5px;
}

.pill__close {
	margin: 3px;
	padding-right: 4px;
	border-right: 1px solid #c9e6f2;
}