/*
Icon					CSS Content
=======================================
Edit					"e"
Delete					"d"
Preview					"p"
Publish					"P"
Password				"k"
*/

@font-face {
	font-family: 'AdminActions';
	src: url('../fonts/admin-actions.eot');
	src: url('../fonts/admin-actions.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/admin-actions.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
